<!DOCTYPE html>
<html>
  <head>
    <title>Gylio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="https://imgur.com/oXeom0w" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
